html,body{
    font-family: 'Poppins', sans-serif;   
}

body{
    background: linear-gradient(110deg, #fdcd3b 40%, #ffed4b 60%);
    background-size: cover;     
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

.brand-logo{
    width: 10% !important;
}

.nav-item{
    margin-right: 1rem;
}

.nav-link{
 font-weight: 600 ;
}

.nav-btn{
    background-color: #000 !important;
    color: #ffff;
    font-size: 1rem;
}

.main-image{
    width: 72%;
}

.main-heading{
    line-height: 2.6rem;
    font-weight: 600;
    font-size: 3rem;
}

.sub-heading{
    line-height: 1.7rem;
    
}


input{
    border-radius: 1rem 0 0  1rem ;
}
.input-button{
    border-radius: 0 1rem 1rem 0 ;
    color: white;
    font-weight: 600;
    background-color: #ca1818 !important;

}


@media only screen and (max-width : 769px) {
    .navbar-nav {
        margin-left: 0 !important;
    }
    .brand-logo{
        width: 15% !important;
    }
    .nav-item{
        margin-right: auto;
        margin-left: auto;
    }
    .main-heading{
        font-size: 2.5rem;
    }
    .sub-heading{
        font-size: 1.1rem;
        
    }
    input{
        border-radius: 0.5rem 0 0  0.5rem ;
    }
    .input-button{
        border-radius: 0 0.5rem 0.5rem 0 ;
    
    }
}

@media only screen and (max-width : 425px) {
    .brand-logo{
        width: 30% !important;
    }
}
